<ul class="undotted">
    <li>
        <img src="img/blog/posts/dog.webp" alt="">
        <div>
            <div class="color1"></div>
            <div class="color2"></div>
            <div class="datediv">
                <p class="date">20.01.2020</p>
                <p class="views">223 views</p>
                <p class="comment">97 comments</p>
            </div>
            <h3 class="title__post_h3"></h3>
            <p class="title__post_text"></p>
            <a href="" class="post__a"></a>
        </div>
    </li>
</ul>